@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

/*Autor: Camila Grahl*/
body {
  min-height: 100vh;
  font-family: "Fredoka", sans-serif;
  background: black;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

#guess-input {
  display: block;
  margin: 0 auto 20px;
  padding: 10px;
  font-size: 18px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  transition: all 0.5s;
}

#guess-input:hover {
  transform: scale(1.2);
}

#guess-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0CBABA;
  color: #fff;
  border: none;
  border-radius: 3px;
}

button:active {
  transform: scale(0.95);
}

#grid {
  display: flex;
  justify-content: center;
  margin-top:
}

.letter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 4vw;
  border-radius: 5px;
  border: 1px solid rgb(156, 131, 131);
  padding: 3px;
  margin: 3px;
  min-width: 20px;
}

.row {
  margin-bottom: 10px;

}

.input-area {
  margin: 30px;
}